<!DOCTYPE html>


<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Hello and welcome to Gitit. You Can Search for Github Users and Repositories
          down below.</a>
      </div>
    </nav>

    <ul class="navbar-nav">
      <li>
        <form action="" onsubmit="findProfile()">
          <div class="form-group">
            <input type="text"
              style="margin-top: 7%;margin-bottom: 7%;  width: 130%; height: 15%;background-color: lightseagreen;text-align: center; border: 20px; color: ghostwhite;"
              class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus  "
              placeholder="type username here.." name="username">
            <input type="submit" name="submit">
          </div>
        </form>
      </li>
    </ul>
  </div>


</nav>


<!-- CONTENT SECTION -->


<div *ngIf="profile">
  <div style="margin-top: 10%;" class="panel panel-default">

    <div class="panel-heading">
      <h1>{{profile.login}}</h1>
      <span *ngIf="">Works at {{profile.company}}</span> {{profile.location}}
    </div> -->

    <div class="panel-body">

      <div class="row">
        <div class="start">
          <span class="label label-default">{{profile.public_repos}} Public Repos</span>
          <span class="label label-primary">{{profile.public_gist}} Public Git</span>
          <span class="label label-success">{{profile.followers}} Followers</span>
          <span class="label label-info">{{profile.following}} Following</span>
          <br> -->


          <ul class="list-group">
            <li class="list-group-item"><strong>Username:</strong> {{profile.login}}</li>
            <li class="list-group-item"><strong>Member Since:</strong> {{profile.created_at}}</li>
          </ul>



        </div>
      </div>



      <!-- REPOSITORIES -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Repositories</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <!-- Looop To Display Repos -->
            <div class="col-md-12">
              <div *ngFor="let repo of repos">
                <div class="row">

                  <!-- Div To Display Repositories -->
                  <div class="col-md-9">
                    <!-- Repo Name -->
                    <h3>{{repo.name}}</h3>
                    <!-- Repo Description -->
                    <p>{{repo.description}}</p>
                    <!-- View on Github Button -->

                    <h4><a href="{{repo.html_url}}" target="_blank">View on github</a></h4>
                  </div>

                  <div class="col-md-3">
                    <span class="label label-default">{{repo.watchers}} Stars </span>
                    <span class="label label-primary">{{repo.forks}} Forks </span>
                  </div>

                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
