<!DOCTYPE html>



<ul>
  <li>
    <form action="" onsubmit="findProfile()">
      <div class="form-group">
        <input type="text"
          style="margin-top: 7%;margin-bottom: 2%;  width: 50%; height: 15%;background-color: lightseagreen; border: 10px; color: black;"
          class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus"
          placeholder="type github username here..">
        <input type="submit" name="submit">
      </div>
    </form>
  </li>
</ul>


<!-- REPOSITORIES -->
<div class="card">
  <div class="card-heading c0l-md-4">
   <br>
   <br>
   <br>
    <h4 class="card-title">Sample link below:</h4>
  </div>

  <div class="card-body">
    <a href="https://github.com/MugureNjunge">Github Profile</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="card-footer">
    <h4>Copyright 2022</h4>
    <p>Github, Build Software Better together!</p>
    <br>
    <br>
    <br>

  </div>



</div>
